In [102]:
# Import dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime

In [103]:
df = pd.read_excel("../data/boulders/Boulders_Medlemsdata til Nynne.xlsx")

In [104]:
df = df.transpose()

In [105]:
df.columns = df.iloc[0]
df = df[1:]

In [106]:
# Make index a column
df.reset_index(inplace=True)

In [107]:
df = df.rename(columns={"index": "Timestamp", "AAR Højbjerg": "Aarhus Syd", "Amager": "KBH Amager"})

In [108]:
# drop index name
df.columns.name = None

In [109]:
df = df[3:]

In [110]:
df["Timestamp"] = pd.to_datetime(df["Timestamp"])

In [111]:
# Make all columns except Timestamp integers
df = df.apply(pd.to_numeric, errors="ignore")

/tmp/ipykernel_7752/958615284.py:2: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df = df.apply(pd.to_numeric, errors="ignore")

In [112]:
df["Timestamp"] = pd.to_datetime(df["Timestamp"])

In [113]:
df["Month"] = df["Timestamp"].dt.month

In [114]:
# Exlude rows before a certain date
df = df[df["Timestamp"] > "2020-12-01"]
df = df[df["Timestamp"] < "2024-01-01"]

In [115]:
df["Aarhus TOTAL"] = df["Aarhus City"]+df["Aarhus Nord"]+df["Aarhus Syd"]

In [116]:
# Reorder columns
cols = df.columns.tolist()

new_order = ['Timestamp',
             'Month',
             'Aarhus TOTAL',
             'Aarhus City',
             'Aarhus Nord',
             'Aarhus Syd',
             'Odense City',
             'KBH Sydhavn',
             'KBH Valby',
             'KBH Hvidovre',
             'KBH Amager',
             'Alle  haller']

df = df[new_order]

In [118]:
df = df.reset_index(drop=True)

In [119]:
# Save to csv
df.to_csv("../data/boulders/Medlemsdata_clean.csv", index=False, sep=";")

,Timestamp,Måned,Aarhus TOTAL,Aarhus City,Aarhus Nord,Aarhus Syd,Odense City,KBH Sydhavn,KBH Valby,KBH Hvidovre,KBH Amager,Alle haller
0,2021-01-01,1,960.0,0.0,960.0,0.0,366.0,1781.0,0.0,0.0,0.0,3107.0
1,2021-02-01,2,910.0,0.0,910.0,0.0,346.0,1682.0,0.0,0.0,0.0,2938.0
2,2021-03-01,3,883.0,0.0,883.0,0.0,335.0,1639.0,0.0,0.0,0.0,2857.0
3,2021-04-01,4,991.0,125.0,866.0,0.0,331.0,1610.0,0.0,0.0,0.0,2932.0
4,2021-05-01,5,1349.0,433.0,916.0,0.0,371.0,1763.0,0.0,0.0,0.0,3483.0
5,2021-06-01,6,1377.0,490.0,887.0,0.0,362.0,1768.0,0.0,0.0,0.0,3507.0
6,2021-07-01,7,1547.0,631.0,916.0,0.0,370.0,1829.0,0.0,0.0,0.0,3746.0
7,2021-08-01,8,1782.0,810.0,972.0,0.0,443.0,1971.0,0.0,0.0,0.0,4196.0
8,2021-09-01,9,1878.0,875.0,1003.0,0.0,518.0,2041.0,0.0,0.0,0.0,4437.0
9,2021-10-01,10,1974.0,974.0,1000.0,0.0,594.0,2064.0,0.0,0.0,0.0,4632.0
10,2021-11-01,11,1955.0,977.0,978.0,0.0,578.0,1998.0,245.0,0.0,0.0,4776.0
11,2021-12-01,12,1885.0,942.0,943.0,0.0,535.0,1934.0,459.0,0.0,0.0,4813.0
12,2022-01-01,1,1986.0,1022.0,964.0,0.0,546.0,2018.0,603.0,0.0,0.0,5153.0
13,2022-02-01,2,2000.0,1049.0,951.0,0.0,559.0,2005.0,607.0,0.0,0.0,5171.0
14,2022-03-01,3,1992.0,1219.0,773.0,0.0,576.0,1958.0,728.0,0.0,0.0,5254.0
15,2022-04-01,4,1949.0,1207.0,742.0,0.0,556.0,1907.0,704.0,0.0,0.0,5116.0
16,2022-05-01,5,2034.0,1170.0,864.0,0.0,486.0,2112.0,753.0,0.0,0.0,5385.0
17,2022-06-01,6,1853.0,1047.0,806.0,0.0,452.0,1988.0,664.0,0.0,0.0,4957.0
18,2022-07-01,7,1816.0,1014.0,802.0,0.0,439.0,1956.0,622.0,0.0,0.0,4833.0
19,2022-08-01,8,2144.0,1263.0,881.0,0.0,512.0,2218.0,712.0,0.0,0.0,5586.0
20,2022-09-01,9,2172.0,1285.0,887.0,0.0,525.0,2215.0,677.0,0.0,0.0,5589.0
21,2022-10-01,10,2248.0,1359.0,889.0,0.0,524.0,2270.0,664.0,0.0,0.0,5706.0
22,2022-11-01,11,2274.0,1416.0,858.0,0.0,507.0,2226.0,628.0,0.0,0.0,5635.0
23,2022-12-01,12,2150.0,1357.0,793.0,0.0,514.0,2216.0,623.0,0.0,0.0,5503.0
24,2023-01-01,1,2716.0,1378.0,794.0,544.0,611.0,2297.0,627.0,NaN,NaN,6251.0
25,2023-02-01,2,2805.0,1397.0,819.0,589.0,627.0,2228.0,623.0,795.0,NaN,7078.0
26,2023-03-01,3,2887.0,1436.0,848.0,603.0,665.0,2274.0,618.0,855.0,NaN,7299.0
27,2023-04-01,4,2825.0,1430.0,874.0,521.0,657.0,2286.0,623.0,905.0,NaN,7296.0
28,2023-05-01,5,2735.0,1386.0,868.0,481.0,637.0,2266.0,603.0,842.0,NaN,7083.0
29,2023-06-01,6,2451.0,1215.0,813.0,423.0,574.0,2120.0,556.0,693.0,NaN,6394.0
30,2023-07-01,7,2379.0,1204.0,799.0,376.0,536.0,2082.0,537.0,643.0,NaN,6177.0
31,2023-08-01,8,2557.0,1324.0,842.0,391.0,553.0,2269.0,580.0,683.0,NaN,6642.0
32,2023-09-01,9,2676.0,1411.0,852.0,413.0,551.0,2295.0,688.0,738.0,NaN,6948.0
33,2023-10-01,10,2733.0,1477.0,857.0,399.0,535.0,2098.0,856.0,878.0,431.0,7531.0
34,2023-11-01,11,2721.0,1487.0,846.0,388.0,532.0,2018.0,835.0,856.0,537.0,7499.0
35,2023-12-01,12,2689.0,1470.0,845.0,374.0,528.0,1987.0,835.0,857.0,568.0,7464.0